################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/datasynaca/.vs/datasynaca
/src/datasynaca/datasynaca.Api/bin/Debug/net8.0
