################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
src/**/*/obj/
src/**/*/bin/
src/**/*/Debug/
src/**/*/Release/
src/datasynaca/datasynaca.Api/obj/Debug/net8.0/datasynaca.Api.AssemblyInfo.cs
src/datasynaca/datasynaca.Api/obj/Debug/net8.0/datasynaca.Api.AssemblyInfoInputs.cache
src/datasynaca/datasynaca.Api/obj/Debug/net8.0/datasynaca.Api.assets.cache
src/datasynaca/datasynaca.Api/obj/Debug/net8.0/datasynaca.Api.csproj.AssemblyReference.cache
src/datasynaca/datasynaca.Api/obj/Debug/net8.0/datasynaca.Api.GeneratedMSBuildEditorConfig.editorconfig
.gitignore
/src/OtelReferenceApp/.vs
/src/WeatherForecastApp/.vs
/src/OtelCollectorConsoleApp/.vs/OtelCollectorConsoleApp
/src/OtelCollectorConsoleApp/.vs/ProjectEvaluation
/src/OtelReferenceApp/WeatherForecast.Database/WeatherForecast.Database.dbmdl
/src/OtelReferenceApp/WeatherForecast.Database/WeatherForecast.Database.jfm
src/OtelReferenceApp/WeatherForecast.WebApi/Logs/log.txt
src/OtelReferenceApp/WeatherForecast.WebApi/Logs/log.txt
/deploy/src/OtelReferenceApp/.vs
/deploy/src/OtelReferenceApp/obj/Docker
/deploy/src/OtelReferenceApp/WebApi/bin/Debug/net9.0
/deploy/src/OtelReferenceApp/WebApi/obj
/src/OtelReferenceApp/.dockerignore
/src/OtelReferenceApp/OtelReferenceApp.slnLaunch.user
/deploy/src/OtelReferenceApp/WebApp/bin/Debug/net9.0
/deploy/src/OtelReferenceApp/WebApp/obj
