@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center mt-5">
    <h1 class="display-4">Welcome to WeatherForecast Web App</h1>
    <p class="lead">Get up-to-date weather information for various locations.</p>
    <a class="btn btn-primary btn-lg mt-4" asp-controller="WeatherForecast" asp-action="Index">
        Browse Forecasts
    </a>
</div>
