@model WeatherForecast.Infrastructure.Models.WeatherForecastCreateViewModel

<div class="text-center mt-5 mb-5">
    <h1 class="display-4">Welcome to WeatherForecast Web App</h1>
    <p class="lead">Select a postal code from the list to add current weather data.</p>
   
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container py-4">
        <h4 class="text-center">Weather Forecast by Postal Code</h4>
        <hr />

        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.PostalCode, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.PostalCode, Model.PostalCodeOptions, "-- Select a Postal Code --",
                         htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary btn-lg w-100">Submit</button>
            </div>
        </div>
    </div>
}
